.no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

.strike,
.mark {
  display: inline-flex;
  padding: 0 2px;
  border-radius: 2px;
  line-height: 1.2;
}

.strike {
  text-decoration: line-through;
  color: var(--overlay-4-color);
  background-color: var(--base-4-color);
}

.mark {
  color: var(--primary-color);
  background: rgb(43, 60, 55);
  &--danger {
    color: var(--error-color);
    background: rgb(73, 43, 40);
  }
}

.pointer {
  cursor: pointer;
}
