.form-group {
    .help-block {
        display: none;
        font-size: 14px;
    }
    &.has-error {
        .help-block {
            display: block;
            color: #f5222d;
        }
    }
}
