.tag {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 24px;
  padding: 1px 3px;
  font-size: 12px;
  line-height: 1.2;
  color: var(--overlay-1-color);
  background: var(--base-3-color);
  border-radius: 2px;
  @media (min-width: 768px) {
    padding: 0 8px;
    font-size: 14px;
    font-weight: 500;
  }
}

