$green: #03c9a9;
$main_bg_color: #232d3b;
$white: #ffffff;
$black: #000000;
$grey_color_1: #6a6f7c;
$grey_color_2: #8a96a0;
$header_bg_color: #0d1725;

$dark_green: rgb(12, 112, 98);
$dark_green_2: rgb(7, 40, 39);
$dark_green_3: rgb(0, 160, 175);

$bg_main: #090b10;
$btn_main_bg: #15171c;
$btn_more_bg: #0f141d;
$btn_main_color: #ffffff;
$btn_main_bg_disabled: #0f1115;
$btn_main_color_disabled: #88898b;

$border_grey_color: #6a6f7c;
$border_green_color: rgba(3, 201, 169, 0.1);
$border_grey_color2: #979797;
$list_grey_color: #575c69;
$list_grey_background: #111317;
$list_avatar_background: #0d0f1c;

$home_divider_color: #242424;
$home_grey_btn_bg_color: #1d1f23;

$timeline_divider_color: #252c3d;
$timeline_album_color: #282b35;

$txt-color-dark: #4f5562;
$txt-color-dark2: #6a6f7c;
$txt-color-dark3: #7e8698;

$placeholder-color: #4f5562;

$menu_color_dark_grey: #6a6f7d;
$menu_bg_color_hover: rgba(12, 112, 98, 0.2);
$menu_color_hover: rgba(255, 255, 255, 1);
$txt-color: #9d9ea0;
$error-color: #ff5760;

$screen-xs-min: 375px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1280px;
$screen-xxl-min: 1600px;

$screen-xs-max: 374px;
$screen-sm-max: 575px;
$screen-md-max: 767px;
$screen-lg-max: 991px;
$screen-xl-max: 1279px;
$screen-xxl-max: 1599px;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1280px,
) !default;
$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 5px !default;
$spacers: () !default;
$sizes: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20;
@each $size in $sizes {
    $spacers: map-merge((($size * 5): ($size * $spacer)), $spacers);
}

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           1.5rem !default;
$grid-row-columns:            6 !default;

$gutters: $spacers !default;

@mixin svg-icon(
    $b64Icon:
        "%3Csvg%20width%3D%2226%22%20height%3D%2223%22%20viewBox%3D%220%200%2026%2023%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%3Ctitle%3EShape%3C/title%3E%0A%3Cdesc%3ECreated%20using%20Figma%3C/desc%3E%0A%3Cg%20id%3D%22Canvas%22%20transform%3D%22translate%28-8988%20-202%29%22%3E%0A%3Cg%20id%3D%22Shape%22%3E%0A%3Cuse%20xlink%3Ahref%3D%22%23path0_fill%22%20transform%3D%22translate%288988%20202%29%22%20fill%3D%22%236A6F7C%22/%3E%0A%3C/g%3E%0A%3C/g%3E%0A%3Cdefs%3E%0A%3Cpath%20id%3D%22path0_fill%22%20fill-rule%3D%22evenodd%22%20d%3D%22M%209.24414%200C%206.70215%200%204.62207%202.12277%204.62207%204.71794C%204.62207%207.31313%206.70215%209.43588%209.24414%209.43588C%2011.7871%209.43588%2013.8662%207.31313%2013.8662%204.71794C%2013.8662%202.12277%2011.7871%200%209.24414%200ZM%2019.0674%200.589737C%2017.0029%200.589737%2015.3115%202.31645%2015.3115%204.42307C%2015.3115%206.52968%2017.0029%208.25641%2019.0674%208.25641C%2021.1309%208.25641%2022.8223%206.52968%2022.8223%204.42307C%2022.8223%202.31645%2021.1309%200.589737%2019.0674%200.589737ZM%2012.1328%204.71794C%2012.1328%203.07893%2010.8506%201.76923%209.24414%201.76923C%207.63867%201.76923%206.35547%203.07893%206.35547%204.71794C%206.35547%206.35695%207.63867%207.66666%209.24414%207.66666C%2010.8506%207.66666%2012.1328%206.35695%2012.1328%204.71794ZM%2019.0674%202.35898C%2020.1943%202.35898%2021.0898%203.27263%2021.0898%204.42308C%2021.0898%205.57353%2020.1943%206.48718%2019.0674%206.48718C%2017.9404%206.48718%2017.0449%205.57353%2017.0449%204.42308C%2017.0449%203.27263%2017.9404%202.35898%2019.0674%202.35898ZM%2013.1719%2010.8642C%2014.4492%209.51822%2016.627%208.84615%2019.0664%208.84615C%2020.874%208.84615%2022.5225%209.23331%2023.7881%209.96115C%2025.0537%2010.6889%2026%2011.8522%2026%2013.2692L%2026%2017.6923C%2026%2018.1555%2025.5869%2018.5769%2025.1338%2018.5769L%2018.4893%2018.5769L%2018.4893%2022.1154C%2018.4893%2022.5785%2018.0762%2022.9999%2017.6221%2023L%200.866211%2023C%200.413086%2022.9999%200%2022.5785%200%2022.1154L%200%2016.218C%200%2014.4308%201.19922%2012.9226%202.87988%2011.9147C%204.56055%2010.9068%206.78613%2010.3205%209.24414%2010.3205C%2010.6494%2010.3205%2011.9766%2010.5117%2013.1719%2010.8642ZM%2019.0674%2010.6154C%2020.6211%2010.6154%2022.0039%2010.976%2022.9307%2011.5092C%2023.8584%2012.0424%2024.2666%2012.6534%2024.2666%2013.2692L%2024.2666%2016.8077L%2018.4893%2016.8077C%2018.6045%2014.2582%2017.2891%2012.9226%2015.6094%2011.9147C%2015.4336%2011.809%2015.2461%2011.7068%2015.0586%2011.6106C%2015.9883%2011.0423%2017.4219%2010.6154%2019.0674%2010.6154ZM%2014.7334%2013.4351C%2013.3848%2012.6263%2011.4277%2012.0898%209.24414%2012.0898C%207.06152%2012.0898%205.10352%2012.6263%203.75586%2013.4351C%202.40723%2014.2439%201.7334%2015.2461%201.7334%2016.218L%201.7334%2021.2308L%2016.7559%2021.2308L%2016.7559%2016.218C%2016.7559%2015.2461%2016.082%2014.2439%2014.7334%2013.4351Z%22/%3E%0A%3C/defs%3E%0A%3C/svg%3E%0A",
    $b64IconHover:
        "%3Csvg%20width%3D%2226%22%20height%3D%2223%22%20viewBox%3D%220%200%2026%2023%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%3Ctitle%3EShape%3C/title%3E%0A%3Cdesc%3ECreated%20using%20Figma%3C/desc%3E%0A%3Cg%20id%3D%22Canvas%22%20transform%3D%22translate%28-8988%20-202%29%22%3E%0A%3Cg%20id%3D%22Shape%22%3E%0A%3Cuse%20xlink%3Ahref%3D%22%23path0_fill%22%20transform%3D%22translate%288988%20202%29%22%20fill%3D%22%236A6F7C%22/%3E%0A%3C/g%3E%0A%3C/g%3E%0A%3Cdefs%3E%0A%3Cpath%20id%3D%22path0_fill%22%20fill-rule%3D%22evenodd%22%20d%3D%22M%209.24414%200C%206.70215%200%204.62207%202.12277%204.62207%204.71794C%204.62207%207.31313%206.70215%209.43588%209.24414%209.43588C%2011.7871%209.43588%2013.8662%207.31313%2013.8662%204.71794C%2013.8662%202.12277%2011.7871%200%209.24414%200ZM%2019.0674%200.589737C%2017.0029%200.589737%2015.3115%202.31645%2015.3115%204.42307C%2015.3115%206.52968%2017.0029%208.25641%2019.0674%208.25641C%2021.1309%208.25641%2022.8223%206.52968%2022.8223%204.42307C%2022.8223%202.31645%2021.1309%200.589737%2019.0674%200.589737ZM%2012.1328%204.71794C%2012.1328%203.07893%2010.8506%201.76923%209.24414%201.76923C%207.63867%201.76923%206.35547%203.07893%206.35547%204.71794C%206.35547%206.35695%207.63867%207.66666%209.24414%207.66666C%2010.8506%207.66666%2012.1328%206.35695%2012.1328%204.71794ZM%2019.0674%202.35898C%2020.1943%202.35898%2021.0898%203.27263%2021.0898%204.42308C%2021.0898%205.57353%2020.1943%206.48718%2019.0674%206.48718C%2017.9404%206.48718%2017.0449%205.57353%2017.0449%204.42308C%2017.0449%203.27263%2017.9404%202.35898%2019.0674%202.35898ZM%2013.1719%2010.8642C%2014.4492%209.51822%2016.627%208.84615%2019.0664%208.84615C%2020.874%208.84615%2022.5225%209.23331%2023.7881%209.96115C%2025.0537%2010.6889%2026%2011.8522%2026%2013.2692L%2026%2017.6923C%2026%2018.1555%2025.5869%2018.5769%2025.1338%2018.5769L%2018.4893%2018.5769L%2018.4893%2022.1154C%2018.4893%2022.5785%2018.0762%2022.9999%2017.6221%2023L%200.866211%2023C%200.413086%2022.9999%200%2022.5785%200%2022.1154L%200%2016.218C%200%2014.4308%201.19922%2012.9226%202.87988%2011.9147C%204.56055%2010.9068%206.78613%2010.3205%209.24414%2010.3205C%2010.6494%2010.3205%2011.9766%2010.5117%2013.1719%2010.8642ZM%2019.0674%2010.6154C%2020.6211%2010.6154%2022.0039%2010.976%2022.9307%2011.5092C%2023.8584%2012.0424%2024.2666%2012.6534%2024.2666%2013.2692L%2024.2666%2016.8077L%2018.4893%2016.8077C%2018.6045%2014.2582%2017.2891%2012.9226%2015.6094%2011.9147C%2015.4336%2011.809%2015.2461%2011.7068%2015.0586%2011.6106C%2015.9883%2011.0423%2017.4219%2010.6154%2019.0674%2010.6154ZM%2014.7334%2013.4351C%2013.3848%2012.6263%2011.4277%2012.0898%209.24414%2012.0898C%207.06152%2012.0898%205.10352%2012.6263%203.75586%2013.4351C%202.40723%2014.2439%201.7334%2015.2461%201.7334%2016.218L%201.7334%2021.2308L%2016.7559%2021.2308L%2016.7559%2016.218C%2016.7559%2015.2461%2016.082%2014.2439%2014.7334%2013.4351Z%22/%3E%0A%3C/defs%3E%0A%3C/svg%3E%0A",
    $width: 27px,
    $height: 27px,
    $transition: 0.3s
) {
    background: url("data:image/svg+xml," + $b64Icon);
    width: $width;
    height: $height;
    transition: $transition;
    display: inline-block;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
        background: url("data:image/svg+xml," + $b64IconHover);
        background-position: center;
        background-repeat: no-repeat;
    }
}
